:root {
  &[lwt-toolbar="light"] {
    --chrome-content-separator-color: rgb(191, 190, 193) !important;
  }
  &[lwt-toolbar="dark"] {
    --chrome-content-separator-color: rgb(15, 15, 15) !important;
  }

  --nav-seperator-color: var(--chrome-content-separator-color) !important;
  --tab-separator-color: var(--nav-seperator-color) !important;
  --tab-line-color: var(--nav-seperator-color) !important;
  --border-radius: 4px;
  --tab-border-radius: var(--border-radius) !important;
  --toolbarbutton-border-radius: var(--border-radius) !important;
  --arrowpanel-border-radius: var(--border-radius) !important;
  --arrowpanel-menuitem-border-radius: var(--border-radius) !important;
}

// fix tab top space in window mode
:root[sizemode="normal"] {
  #TabsToolbar{
    margin-top: 1px !important;
  }
}
