#tabbrowser-tabbox {
  box-shadow: unset !important;
}

#sidebar-main,
#sidebar-box {
  outline: 1px solid var(--chrome-content-separator-color);
}

#sidebar-box {
  padding: 0 !important;

  #sidebar {
    border-radius: unset !important;
    box-shadow: unset !important;
    border: unset !important;
    //background: unset !important;
    outline: none !important;
  }
}

.sidebar-panel {
  padding: 0 var(--space-large) var(--space-large) var(--space-large) !important;
}

moz-card {
  &, &::part(summary) {
    border-radius: var(--border-radius-small) !important;
  }
}

:host,
moz-card {
  --card-border-radius: var(--border-radius-small) !important;
  --card-padding: var(--space-small) !important;
}
