#urlbar[breakout][breakout-extend] {
  margin-left: 0 !important;
  width: var(--urlbar-width) !important;
  margin-top: calc((var(--urlbar-container-height) - var(--urlbar-height)) / 2) !important;

  .urlbar-input-container {
    height: var(--urlbar-height) !important;
    padding-block: var(--urlbar-container-padding) !important;
    padding-inline: var(--urlbar-container-padding) !important;
  }
}

#urlbar[breakout][breakout-extend] > :is(#urlbar-input-container,.urlbar-input-container) {
  height: var(--urlbar-height) !important;
  padding-block: 1px !important;
  padding-inline: 1px !important;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}
