#TabsToolbar .tab-icon-overlay {

  // position media buttons on favicon and allow color (from extra)
  &[soundplaying]:not([crashed]),
  &[muted]:not([crashed]),
  &[activemedia-blocked]:not([crashed]) {
    stroke: var(--tab-icon-overlay-stroke, rgb(0, 0, 0)) !important;
    color: var(--tab-icon-overlay-fill, rgb(255, 255, 255)) !important;
    fill: var(--tab-icon-overlay-fill, rgb(255, 255, 255)) !important;
  }

  &:not([crashed]):is([pinned], [sharing]) {
    top: 0 !important;
    inset-inline-end: 0 !important;
  }

}
