#toolbar-menubar {
  box-shadow: 0 1px 0 var(--tab-separator-color, rgba(0, 0, 0, 0.3)) !important;

  &[autohide="true"] {
    min-height: unset !important;

    .titlebar-buttonbox-container {
      visibility: hidden !important;
    }

    &:not([inactive]) ~ :is(#TabsToolbar, #nav-bar) > .titlebar-buttonbox-container {
      visibility: visible !important;
    }
  }

  #menubar-items #main-menubar {
    height: 100%;
  }

}
