/*
 * Set Scrollbars to match Firefox dark theme by default
 * Websites can still override this with CSS if they want
 */
:root {
  --scroll-bar-default-thumb-color: rgb(52, 51, 62);
  --scroll-bar-default-track-color: rgb(28, 27, 34);
  scrollbar-color: var(--scroll-bar-default-thumb-color) var(--scroll-bar-default-track-color);
}

/*
 * New Tab page adjustments
 */
@-moz-document url-prefix(about:newtab), url-prefix(about:home) {
  .top-sites-list {
    --top-sites-max-per-row: 8;
    --col-width: calc(var(--mrec-width) / 3.5);
    --border-radius-large: 6px;
    --border-radius-circle: 5px;
  }

  .top-site-outer .tile {
    width: var(--col-width) !important;
    height: var(--col-width) !important;
  }

  .search-handoff-button {
    border-radius: 4px !important;
  }
}
