:root {
  --tab-min-height: 36px !important;
  --tab-spacer-width: 18px;
  --toolbarbutton-inner-padding-precalc: calc((var(--tab-min-height) / 3) / 2) !important;
  --toolbarbutton-outer-padding-precalc: calc(var(--toolbarbutton-outer-padding) * 2);
  --pin-unpin-edge-padding: var(--tab-spacer-width);
}
